.button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease;
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  &.primary {
    background: rgba(72, 166, 243, 0.562);
    color: white;

    &:hover {
      background: rgba(70, 130, 180, 0.6);
    }
  }

  &.secondary {
    background: rgb(241, 233, 233);
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    color: #353333;

    &:hover {
      background: rgba(255, 253, 253, 0.781);
      scale: 0.8;
    }
  }
}
